body {
 background: linear-gradient(to bottom, #fcac49, #ffa83f);
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
    overflow-y: hidden;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
    user-select: none;
}

.p {
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    font-weight: 1000;
    padding: 15px 40px;
    background-color: #ffc073;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
    user-select: none;
}

.btn:hover{
    background-color: rgb(238, 165, 76);
    color: antiquewhite;
    transform: scale(1.1);
    user-select: none;
    }